In [58]:
import pandas as pd
titanic = pd.read_csv("titanic.csv")
titanic = pd.read_csv("new_titanic.csv")

In [59]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,faixa etaria
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Adulto
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Adulto
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Adulto
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Adulto
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Adulto

In [60]:
titanic.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,faixa etaria
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S,Adulto
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S,Adulto
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S,NaN
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C,Adulto
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q,Adulto

In [61]:
titanic["Name"].head()

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
Name: Name, dtype: object

In [62]:
titanic.shape

(891, 13)

In [63]:
titanic.index
# RangeIndex(start=0, stop=891, step=1)

RangeIndex(start=0, stop=891, step=1)

In [64]:
titanic.columns
# colunas

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'faixa etaria'],
      dtype='object')

In [65]:
titanic.dtypes
#tipos

PassengerId       int64
Survived          int64
Pclass            int64
Name             object
Sex              object
Age             float64
SibSp             int64
Parch             int64
Ticket           object
Fare            float64
Cabin            object
Embarked         object
faixa etaria     object
dtype: object

In [72]:
filtro_tipo_numerico = (titanic.dtypes != "object")
print(filtro_tipo_numerico)

PassengerId      True
Survived         True
Pclass           True
Name            False
Sex             False
Age              True
SibSp            True
Parch            True
Ticket          False
Fare             True
Cabin           False
Embarked        False
faixa etaria    False
dtype: bool

In [67]:
colunas_numericas = titanic.dtypes[filtro_tipo_numerico].index
print(colunas_numericas)

Index(['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')

In [68]:
titanic[colunas_numericas].head()

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare
0            1         0       3  22.0      1      0   7.2500
1            2         1       1  38.0      1      0  71.2833
2            3         1       3  26.0      0      0   7.9250
3            4         1       1  35.0      1      0  53.1000
4            5         0       3  35.0      0      0   8.0500

In [69]:
todas = titanic.columns[:-1]
titanic[todas].head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [70]:
titanic.iloc[:,:-1].head() # iloc seleciona os índices por linha e coluna
titanic.iloc[15:, :3].head()

    PassengerId  Survived  Pclass
15           16         1       2
16           17         0       3
17           18         1       2
18           19         0       3
19           20         1       3

In [71]:
titanic.loc[:,["Survived"].head()] # loc seleciona pelo nome das colunas

AttributeError: 'list' object has no attribute 'head'

DESAFIO
E se quisermos um Dataframe com a descrição apenas das colunas AGE e PCLASS?
Resultado
colunas

In [ ]:
colunas = ['Age', 'Pclass']
titanic[['Age','Pclass']].describe()

              Age      Pclass
count  714.000000  891.000000
mean    29.699118    2.308642
std     14.526497    0.836071
min      0.420000    1.000000
25%     20.125000    2.000000
50%     28.000000    3.000000
75%     38.000000    3.000000
max     80.000000    3.000000

In [ ]:
titanic["Embarked"].unique() #Podemos verificar todos os valores únicos

array(['S', 'C', 'Q', nan], dtype=object)

In [ ]:
titanic["Age"].value_counts() #Contagem de quantas vezes eles aparecem, normalize

Age
24.00    30
22.00    27
18.00    26
19.00    25
28.00    25
         ..
36.50     1
55.50     1
0.92      1
23.50     1
74.00     1
Name: count, Length: 88, dtype: int64

In [ ]:
#print(titanic.isna().head(15))
print(titanic.isna().sum())
print(titanic.shape)
x=titanic.dropna() 
print(x.shape)
titanic.isna()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
(891, 12)
(183, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

In [ ]:
y=titanic["Age"].fillna(titanic["Age"].mean())#Preencheer onde é encontrado not a number
print(y.head(15))
z=titanic.fillna(200)

0     22.000000
1     38.000000
2     26.000000
3     35.000000
4     35.000000
5     29.699118
6     54.000000
7      2.000000
8     27.000000
9     14.000000
10     4.000000
11    58.000000
12    20.000000
13    39.000000
14    14.000000
Name: Age, dtype: float64

In [ ]:
print(round(titanic.groupby("Embarked").mean()["Age"].sort_values()["S"], 5))
#titanic.sort_values(by="Age")

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
sob = (titanic["Pclass"] == 1) & (titanic["Survived"] == 1) 
mor =      ((titanic["Pclass"] == 3) & (titanic["Survived"] == 0))
titanic[sob]
titanic[mor]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
sob = (titanic["Name"].str.contains("Anne") & (titanic["Sex"] == 'female') & (titanic["Embarked"] == 'S') & (titanic["Pclass"] == 2) & (titanic["Age"] == 29.0))

sumida = titanic[sob].iloc[0]["Name"]
print(f"achamos a {sumida}")

achamos a Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)

In [ ]:
print(round(titanic.groupby("Embarked")["Age"].mean().loc["S"],5))
print(titanic.groupby("Embarked")["Age"].mean().sort_values())

29.4454
Embarked
Q    28.089286
S    29.445397
C    30.814769
Name: Age, dtype: float64

In [ ]:
import pandas as pd
titanic = pd.read_csv("titanic.csv", sep=",")
def soma_sibsp_parch(linha):
    return linha["SibSp"] + linha["Parch"] # ou seja, todos os parentes dentro do navio

In [ ]:
#Depois Aplicar a função linha a linha no DataFrame.
#É como se fosse um for automático!
nova_coluna = titanic.apply(soma_sibsp_parch, axis=1)
#axis = 1 representa que a função é aplicada linha a linha.
#axis = 0 é o valor padrão, representa que a função é aplicada coluna a coluna.

In [ ]:
nova_coluna.head()

0    1
1    1
2    0
3    1
4    0
dtype: int64

In [ ]:
type(nova_coluna)

pandas.core.series.Series

In [ ]:
titanic = pd.read_csv("titanic.csv", sep=",")
def faixa_etaria(linha):
    if linha["Age"] < 12:
        return "Criança"
    elif linha["Age"]< 18:
        return "Adolecente"
    elif linha["Age"]< 65:
        return "Adulto"
    elif linha["Age"] >= 65:
        return "Idoso"
    else:
        return "null"
faixa = titanic.apply(faixa_etaria, axis=1)

titanic["faixa etaria"] = faixa
print(titanic[["Age","faixa etaria"]].head(50))

     Age faixa etaria
0   22.0       Adulto
1   38.0       Adulto
2   26.0       Adulto
3   35.0       Adulto
4   35.0       Adulto
5    NaN         null
6   54.0       Adulto
7    2.0      Criança
8   27.0       Adulto
9   14.0   Adolecente
10   4.0      Criança
11  58.0       Adulto
12  20.0       Adulto
13  39.0       Adulto
14  14.0   Adolecente
15  55.0       Adulto
16   2.0      Criança
17   NaN         null
18  31.0       Adulto
19   NaN         null
20  35.0       Adulto
21  34.0       Adulto
22  15.0   Adolecente
23  28.0       Adulto
24   8.0      Criança
25  38.0       Adulto
26   NaN         null
27  19.0       Adulto
28   NaN         null
29   NaN         null
30  40.0       Adulto
31   NaN         null
32   NaN         null
33  66.0        Idoso
34  28.0       Adulto
35  42.0       Adulto
36   NaN         null
37  21.0       Adulto
38  18.0       Adulto
39  14.0   Adolecente
40  40.0       Adulto
41  27.0       Adulto
42   NaN         null
43   3.0      Criança
44  19.0       Adulto
45   NaN         null
46   NaN         null
47   NaN         null
48   NaN         null
49  18.0       Adulto

In [ ]:

titanic.to_csv("New_titanic.csv", index=False)

In [ ]:
def calculate_percentage(val, total):
#Calculates the percentage of a value over a total
    percent = float(val / total)
    beautiful_percent = ("%.2f" % (percent * 100) + "%")
    return beautiful_percent

In [ ]:
total = titanic.Survived.count()
nao_sobreviveu = titanic.Survived[titanic["Survived"] == 0].count()
sobreviveu = titanic.Survived[titanic["Survived"] == 1].count()
print(total)
print(nao_sobreviveu)
print(sobreviveu)

891
549
342

In [ ]:
print(calculate_percentage(sobreviveu,total))

38.38%

In [ ]:
print(calculate_percentage(nao_sobreviveu,total))

61.62%

In [ ]:
total = titanic.Survived.count()
mortos_com_familia = titanic.Survived[(titanic["Survived"] == 0) & (titanic["Relatives"] > 0)].count()
mortos_sem_familia = titanic.Survived[(titanic["Survived"] == 0) & (titanic["Relatives"] == 0)].count()
print(mortos_com_familia,mortos_sem_familia)

homens_mortos = titanic.Survived[(titanic["Survived"] == 0) & (titanic["Sex"] == "male")].count()
homens_vivos = titanic.Survived[(titanic["Survived"] == 1) & (titanic["Sex"] == "male")].count()
print(homens_mortos,homens_vivos)

mulheres_mortas = titanic.Survived[(titanic["Survived"] == 0) & (titanic["Sex"] == "female")].count()
mulheres_vivas = titanic.Survived[(titanic["Survived"] == 1) & (titanic["Sex"] == "female")].count()
print(mulheres_mortas, mulheres_vivas)

criancas = titanic.Survived[(titanic["faixa etaria"] == "Criança")].count()
criancas = round((criancas/total) * 100, 2) 
print(criancas)

adolecente = titanic.Survived[(titanic["faixa etaria"] == "Adolecente")].count()
adolecente = round((adolecente/total) * 100, 2) 
print(adolecente)

Adulto = titanic.Survived[(titanic["faixa etaria"] == "Adulto")].count()
Adulto = round((Adulto/total) * 100, 2) 
print(Adulto)

Idoso = titanic.Survived[(titanic["faixa etaria"] == "Idoso")].count()
Idoso = round((Idoso/total) * 100, 2) 
print(Idoso)

class1 = titanic.Survived[(titanic["Pclass"] == 1)].count() 
print(class1)
class2 = titanic.Survived[(titanic["Pclass"] == 2)].count() 
print(class2)
class3 = titanic.Survived[(titanic["Pclass"] == 3)].count() 
print(class3)

mortos_class1 = titanic.Survived[(titanic["Survived"] == 0) & (titanic["Pclass"] == 1)].count()
print(mortos_class1)

mortos_class2 = titanic.Survived[(titanic["Survived"] == 0) & (titanic["Pclass"] == 2)].count()
print(mortos_class2)

mortos_class3 = titanic.Survived[(titanic["Survived"] == 0) & (titanic["Pclass"] == 3)].count()

print(mortos_class3)

KeyError: 'Relatives'

In [ ]:
agrupado = new_titanic.groupby("faixa etaria").count()
 
def porcentagem(linha):
    return (f"{round((linha["PassengerId"] / agrupado["PassengerId"].sum()) * 100,2)}%")
   
per = agrupado.apply(porcentagem, axis = 1)
 
agrupado["Percentual"] = per
 
print(agrupado[["PassengerId","Percentual"]])

NameError: name 'new_titanic' is not defined

In [ ]:
agrupado = new_titanic.groupby("faixa etaria").count()
 
def porcentagem(linha):
    return (f"{round((linha["PassengerId"] / agrupado["PassengerId"].sum()) * 100,2)}%")
   
per = agrupado.apply(porcentagem, axis = 1)
 
agrupado["Percentual"] = per
 
print(agrupado[["PassengerId","Percentual"]])

NameError: name 'new_titanic' is not defined